.ipad1{
    background-color:burlywood
}
.ipad2{
    background-color:aqua
}
.ipad3{
    background-color:lightcoral
}
.ipadmini{
    background-color:aquamarine
}
.ipad4{
    background-color:lightgreen
}
.home{
    background-color:lightskyblue
}